{{recipe().id}}

<div>
@for (input of recipe().inputs; track input)
{
    <app-craftable (selected)="onSelected(recipe().id, input.craftable)" [isSelected]="selectedCraftable() === input.craftable" [asset]="game_assets.get(input.craftable)!"></app-craftable>
    {{input.count}}
    <recipe-list [class]="selectedCraftable() === input.craftable ? 'visible': 'invisible'" [craftable]="input.craftable" [indent_level]="indent_level() + 1" [selectedCraftable]="selectedCraftable()" [recipes]="game_assets.get(input.craftable)!.recipes"></recipe-list>
}
</div>
