<h1 class="text-3xl m-2">Select something to craft</h1>
<div class="pb-5">
@for (key of game_assets.keys(); track key)
{
  @if (game_assets.get(key)?.recipes!.length > 0) {
    <app-craftable (selected)="onSelected(key)" [isSelected]="selectedCraftable() === key" [asset]="game_assets.get(key)!"></app-craftable>
  }
  
}
<div class="text-xl mt-2">{{selectedCraftable()}}</div>
</div>

<h1 class="text-3xl m-2">Recipes</h1>

<recipe-list [craftable]="selectedCraftable()" [recipes]="selectedRecipes()"></recipe-list>

